@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  font-family: "DM Sans", "Arial", sans-serif;
  outline: none;
}

:root {
  --primary: #222;
  --white: #fff;
}

a.nav-link {
  color: var(--primary);
}
a.nav-link:hover {
  color: #086CF9 !important;
}

.navbar-brand {
  color: var(--primary) !important;
}

[data-bs-theme=dark] {
  --primary: #fff;
  --white: #222;
}
[data-bs-theme=dark] #cources {
  background-color: #002e6d;
}
[data-bs-theme=dark] #number, [data-bs-theme=dark] footer {
  background-color: #022351;
}

body {
  background: url("../img/main-image.png") no-repeat fixed;
  background-size: cover;
  background-position: top;
}

nav {
  background-color: var(--white);
}

#hero {
  min-height: 739px;
  background: rgba(0, 0, 0, 0.54);
  overflow: visible;
}
#hero .container {
  top: 20%;
  transform: translateX(-50%);
}
#hero .container:last-child {
  background: var(--white);
  padding: 46px 88px;
  bottom: -90px;
  top: auto;
  z-index: 9999;
}
#hero h1 {
  font-size: 56px;
}

section {
  background: var(--white);
}
section h1 {
  font-size: 48px;
}

#find {
  padding-top: 223px;
}
#find iframe {
  height: 433px;
}

#cards {
  padding-block: 128px;
}
#cards .container {
  margin-top: 48px;
}

#cources {
  background-color: #ECF4FF;
  padding-block: 60px;
}
#cources .rounded-3 {
  width: min(409px, 100%);
  height: 493px;
  background-color: var(--white);
}
#cources .rounded-3 .justify-content-between {
  margin-block: 24px 45px;
}
#cources .rounded-3 h4, #cources .rounded-3 span {
  color: var(--primary);
}
#cources center {
  margin-top: 48px;
}

#mentor {
  padding-top: 128px;
}
#mentor .d-inline-block {
  width: min(100%, 418px);
}
#mentor .py-3 {
  background-color: var(--white);
}
#mentor h3, #mentor .person, #mentor span {
  color: var(--primary);
}

#event {
  padding-block: 128px;
}
#event span.bg-primary {
  padding: 4px 12px;
  border-top-left-radius: 6px;
}
#event a {
  width: min(418px, 100%);
}
#event a .position-relative {
  height: 240px;
}
#event a h5, #event a span, #event a svg {
  color: var(--primary);
}
#event a:nth-child(1) .position-relative {
  background: url("../img/event/event 1.png") no-repeat center center/cover;
}
#event a:nth-child(2) .position-relative {
  background: url("../img/event/event 2.png") no-repeat center center/cover;
}
#event a:nth-child(3) .position-relative {
  background: url("../img/event/event 3.png") no-repeat center center/cover;
}

#number {
  padding-block: 72px;
  background-color: #D3E5FE;
}

#blog {
  padding-block: 128px;
}
#blog .card {
  width: min(418px, 100%);
}
#blog .container {
  margin-top: 42px;
}
#blog center {
  margin-top: 40px;
}

.carousel {
  margin-top: 42px;
}
.carousel button {
  width: 40px;
  aspect-ratio: 1;
  transform: translateY(-50%);
  transition: background-color 0.3s, border 0.3s;
}
.carousel button svg path {
  color: #fff !important;
}
.carousel button:is(:hover, :focus) {
  background-color: #086CF9;
  border: none;
}

#form {
  padding-block: 128px;
}
#form .text-center {
  padding-block: 48px 64px;
  width: min(960px, 100%);
}
#form .text-center .mx-auto {
  padding: 8px 8px 8px 24px;
  background-color: var(--white);
  width: min(538px, 100%);
}
#form input {
  width: min(100%, 401px);
}

footer {
  background-color: #D3E5FE;
  padding-block: 60px 80px;
}
footer .col-4 .gap-2 a {
  padding: 14px;
  background-color: var(--white);
  width: 48px;
  aspect-ratio: 1;
}/*# sourceMappingURL=main.css.map */